<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>

	<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
		th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>

<body>


	<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
		<div class="container">
			<a class="navbar-brand" href="#"><i class="fas fa-book bg-primary"></i>Book Shop</a>


			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			
			<div class="collapse navbar-collapse" id="navbarNav">
				<form class=" d-flex" role="search">
					<!--<input class="form-control me-2 ms-auto" type="text" id="searchInput" placeholder="Search..."> 
					   <ul id="searchResults"></ul>-->
					<input class="form-control me-2 ms-auto" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-info" type="submit">Search</button>
				</form>
			</div>
				<ul class="navbar-nav ms-auto">

					<li class="nav-item active mt-2">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item active mt-2">
						<a class="nav-link" th:href="@{/about}">About</a>
					</li>
					<li class="nav-item active mt-2">
						<a class="nav-link" th:href="@{/book}">Product</a>

					</li>
					<li class="nav-item active mt-2" sec:authorize="hasRole('ADMIN')">
						<a class="nav-link" th:href="@{/categories}">Category</a>

					</li>
					<li class="nav-item active mt-2" sec:authorize="!hasRole('ADMIN')">
						<a class="nav-link" th:href="@{/feedback/add}">Contact</a>
					</li>
					<li class="nav-item active mt-2" sec:authorize="hasRole('ADMIN')">
						<a class="nav-link" th:href="@{/feedback}">Contact</a>
					</li>

					<li class="nav-item active mt-2" sec:authorize="hasRole('ADMIN')">
						<a class="nav-link active" aria-current="page" th:href="@{/member}">Member</a>
					</li>
					
					<li class="nav-item active mt-2" sec:authorize="hasRole('ADMIN')">
						<a class="nav-link active" aria-current="page" th:href="@{/history}">Report</a>
					</li>
					
					<li class="nav-item ms-5 mt-3" sec:authorize="!hasRole('ADMIN')">

						<div class="dropdown">
							<a class="btn btn-primary dropdown-toggle" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">Category</a>
							<ul class="dropdown-menu">
								<li th:each="category:${categoryList}"><a class="dropdown-item"
										th:href="@{/all{id}(id=${category.id})}" th:text="${category.name}"></a></li>

							</ul>

						</div>
					</li>

					<li class="nav-item">
						<a sec:authorize="!isAuthenticated()" th:href="@{/login}">
							<button type="submit" class="btn btn-primary ms-3 mt-3">Login</button>
						</a>
					</li>
					<li sec:authorize="isAuthenticated()" class="nav-item">
						<form th:action="@{/logout}" method="post">

							<button type="submit" class="btn btn-primary ms-3 mt-3">Logout</button>
						</form>
					</li>
					<li class="nav-item" sec:authorize="!isAuthenticated()">
						<a th:href="@{/memberadd}">
							<button type="submit" class="btn btn-primary ms-3 mt-3">SignUp</button>
						</a>
					</li>
					<li class="nav-item ms-2" sec:authorize="!hasRole('ADMIN')">
						<a class="nav-link active" aria-current="page" th:href="@{/cart}">

							<svg xmlns="http://www.w3.org/2000/svg" width="35" height="50" fill="currentColor"
								class="bi bi-cart bg-secondary" viewBox="0 0 16 16">
								<path
									d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
							</svg>


							<span sec:authorize="hasRole('USER')" th:if="${count!=0}" th:text="${count}"
								class="position-absolute translate-middle badge bg-info"></span>
						</a>
					</li>
					<li class="nav-item ms-4 mt-3" sec:authorize="isAuthenticated()">

						<div class="dropdown mr-5">
							<a class="dropdown-toggle" role="button" data-bs-toggle="dropdown"
								aria-expanded="false"><img src="images/b.png" class="rounded-pill d-md-inline"
									width="24" height="24" alt=""></a>
							<ul class="dropdown-menu">
								<li class="dropdown-item">
									<h5 class="text-warning" sec:authentication="principal.member.name">
									</h5>
									<a sec:authorize="hasRole('USER')" th:href="@{/historyuser}"
										class="btn btn-warning">History</a>
								</li>
							</ul>

						</div>
					</li>
				</ul>
			</div>
		</div>
		</div>
	</nav>
	
	
    
<script>  
	 const searchInput = document.getElementById('searchInput');
    const searchResults = document.getElementById('searchResults');
    searchInput.addEventListener('input', function () {​​
        const keyword = this.value.trim();
        fetch(`/api/products/search?keyword=${​​keyword}​​`)
            .then(response => response.json())
            .then(data => {​​
                searchResults.innerHTML = '';
                data.forEach(product => {​​
                    const li = document.createElement('li');
                    li.textContent = product.title;
                    li.addEventListener('click', () => {​​
                        // Perform an action when a result is clicked   
                       // For example, you might want to navigate to a product detail page
                       window.location.href = `/product/${​​product.id}​​`;
                    }​​);
                    searchResults.appendChild(li);
                }​​);
            }​​)
            .catch(error => console.error('Error:', error));
    }​​);
</script>




















</body>

</html>