<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
<title>Insert title here</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/all.min.css">
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" th:href="@{css/style.css}">
	
</head>
<body>
	
	<div th:replace="fragements/header"></div>
	
	<div sec:authorize="hasRole('ADMIN')">
		<div class="h2 text-center mt-4">
			View FeedBacks

		</div>
		<div class="container">

			<table class="table table-striped table-secondary table-hover">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Message</th>
					<th>Action</th>
				</tr>
				<tr th:each="feedback :${feedbackList}">
					<td th:text="${feedback.id}"></td>

					<td th:text="${feedback.member.name}"></td>
					<td th:text="${feedback.member.email}"></td>
					<td th:text="${feedback.message}"></td>
					<td>
						<a th:href="@{/reply{id}(id=${feedback.member.id})}" th:if="${feedback.status==0}" class="btn btn-primary me-4">Reply</a>
						<a th:href="@{/feedback/delete/{id}(id=${feedback.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div th:replace="fragements/footer"></div>

</body>
</html>